h2,h3,h4,h5,h6,p,body{
color: #0275d8;

}
h2{

color:#3fd482;
}
h1{
text-align:center;
color:#d0e612;
color:#cceb34;
color:#3fd482
}

body{

}
.card{
width:20rem;
line-height:1.5rem;
border: solid #0275d8;
}

.table,td,tr,th{
color:#0275d8;
border: 1px solid black;
}
.login-box{

color:#0275d8;

}
.entry-box{
width:40%;
}
.box{
padding-right:75px;
padding-left:75px;

}
.lab{
color:green;
border: 1px solid black;
}
a.btn.btn-outline-primary.bn {
line-height:3;
width:125px;

}

a.btn.btn-primary.bn {
margin-top:50px;
margin-bottom:50px;
line-height:3;
width:160px;
margin-right:50px;

}

.im{


 }