{% extends "base.html" %}
{% block content %}
  <h1>Add Entry for user:{{current_user.username.capitalize()}}</h1>
   <br>

<form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.category.label }} {{ form.category() }}<br><br>
    {{ form.sitename.label }} {{ form.sitename() }}<br><br>
    {{ form.u_name.label }} {{ form.u_name() }}<br><br>
    {{ form.u_pwd.label }} {{ form.u_pwd() }}<br><br>
    {{ form.submit() }}
</form>

{% endblock %}