{% extends "base.html" %}
{% block content %}
<div>
<!--   <img  src="../static/images/gear-2.png" alt="gears-2">-->
<h1 style="text-align:left"  >Welcome {{current_user.username.capitalize()}}!!</h1>
   </div>
<br>
<!--{% for cat in cats  %}-->
<!--    { !!{cat}}-->
<!--   {% endfor %}-->
<!--<h2>{{cats}}</h2>-->

<!--<div class="d-grid gap-2">-->


<!--   " -->
{% for cat in cats  %}
<!--style="font-size : 20px; width: 100%; height: 100px;-->
<a class="btn btn-primary btn-lg bn " href='/chosen_category/{{cat}}' role="#">{{cat}}</a>

   {% endfor %}

<br>
<br>
<br>
<a class="btn btn-danger " href="{{url_for('add_entry')}}" role="#">Add Entry</a>

{% endblock %}
<!--</div>-->