{% extends "base.html" %}
{% block content %}

<!--<h1>{{cat}}</h1>-->
<!--<div class="d-grid gap-2">-->
<!--<a class="btn btn-outline-primary btn-lg" href='#' role="#">{{cat}}</a>-->
<!--</div>-->

<h1>{{cat.capitalize()}}</h1>

<!--/chosen_category/{{cat}}-->
{% for item in list_cat %}
<!--<div class="d-grid  col-4">-->
<a class="btn btn-primary btn-lg bn" href='/item_view/{{item}}' role="#">{{item.site_name}}</a>
<!--</div>-->
<!--<br>-->
{% endfor %}
<br>
<a onclick="history.back(-1)" class="btn btn-outline-primary bn">Back</a>

<a class="btn btn-outline-primary bn " href='#' role="#">add {{cat}}</a>
{% endblock %}